<%= form_with(model: @service) do |f| %>
  <%= render 'shared/errors', record: f.object%>

  <div class="field">
    <%= f.label :name, 'Nombre: ' %></br>
    <%= f.text_field :name, autofocus: true , cols: 40%>
  </div>

  <div class="field">
    <%= f.label :category, 'Categoría: ' %>
    <%= f.select :category, options_for_select(Category.pluck(:name, :id), f.object.category_id),
                  prompt: 'Selecciona una categoría'%>
  </div>

  <div class="field">
    <%= f.label :description, 'Descripción: ' %></br>
    <%= f.text_area :description, cols: 40, rows: 4%>
  </div>

  <div class="actions">
    <%= f.submit "Crear servicio" %>
  </div>
<% end %>