<div class="container">
  <%= form_with url: create_transaction_message_path, class: 'mt-7 mb-5' do |f| %>
    <div class="field form-group">
      <%= f.label :message, 'Mensaje' %><br />
      <%= f.text_area :message, autofocus: true, class: 'form-control resize-disable' %>
    </div>
    <div class="actions">
      <%= f.submit "Enviar Mensaje", class: 'btn btn-primary', id: 'send-message' %>
    </div>
  <% end %>



  <div class="message-list mt-7">
    <h2>Historial de Mensajes</h2>
    <% @messages.each do |message| %>
      <% if message.text? %>
        <div class="message border rounded">
          <div class="d-flex justify-content-between container  border-bottom pb-1">
            <span class="font-weight-bold">
              <%= message.author == current_user ? 'Yo' : message.author.name%>
            </span>
            <span class="text-muted">
              <%= message.created_at.strftime "%-d/%m/%y %l:%M %p" %>
            </span>
          </div>
          <div class="container pt-2">
            <p class="content font-size-large"><%= message.message %></p>
          </div>
        </div>
      <% elsif message.petition_edit? %>
        <div class="transaction-edit text-center mt-2 mb-2">
          <span class="content font-size-large border rounded-pill text-primary"><%= message.message %></span>
        </div>
      <% end %>
    <% end %>
  </div>
</div>