<%
  showActions = false if showActions.nil?
  showEditActions = false if showEditActions.nil?
%>

<table class="services-list table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Nombre de Servicio</th>
        <th scope="col">Usuario que lo ofrece</th>
        <th scope="col">Categoría</th>
        <th scope="col">Descripción</th>
        <% if showActions || showEditActions %>
          <th scope="col"></th>
        <% end %>
    </tr>
    </thead>
    <tbody>
    <% services.each do |service| %>
    <tr id="service_<%= service.id %>" class="service_post">
        <td class="service_name pt-4 pb-4"><%= service.name %></td>
        <td class="pt-4 pb-4"><%= service.user.name %></td>
        <td class="pt-4 pb-4"><%= service.category.name %></td>
        <td class="service_description pt-4 pb-4"><%= service.description %></td>
        <% if showActions %>
          <td class="action-container pt-4 pb-4">
              <%= link_to 'Pedir', new_service_petition_path(service.id), class: "make-service-petition btn btn-success" %>
          </td>
        <% end %>
        <% if showEditActions %>
          <td>
            <div>
              <%= link_to 'Editar', edit_service_path(service), class: 'edit_service btn btn-sm btn-primary mr-2' %>
              <%= button_to 'Eliminar', service_path(service), class: 'delete_service btn btn-sm btn-danger', method: :delete, remote: true %>
            </div>
          </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
</table>