<div class="container d-flex justify-content-around bg-dark text-white align-items-center mb-4">
  <%= link_to root_path, class: 'navbar-brand' do %>
    <%= image_tag 'logo.png', height: '100px'%>
  <% end %>
  <div>
    <h1><strong>Balance: </strong><%= current_user.balance %> horas</h1>
  </div>
</div>

<span id="transactions-tabs"></span>
<table class="table" id="transaction-list">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Estado del servicio</th>
      <th scope="col">Nombre de servicio</th>
      <th scope="col">Fecha y hora</th>
      <th scope="col">Realiza el servicio</th>
      <th scope="col">Recibe el servicio</th>
      <th scope="col">Descripción de servicio</th>
      <th scope="col">Información adicional</th>
    </tr>
  </thead>
  <tbody>
    <% transactions.each do |transaction| %>
      <tr id="service-<%= transaction.service.id %>-petition">
        <td class="pt-4 pb-4 transaction-status"><%= transaction.status %></td>
        <td class="pt-4 pb-4 service-name"><%= transaction.service.name %></td>
        <td class="pt-4 pb-4">
          <strong><%= transaction.duration %> horas</strong>
          <span class="date-and-duration">
            <%= "#{transaction.date_format} #{transaction.duration_range}" %>
          </span>
        </td>
        <td
          class="pt-4 pb-4 service-owner <%= (current_user.have_transaction_as_owner?(transaction.service)) ? 'mark-name' : '' %>">
          <%= transaction.service.user.name %>
        </td>
        <td
          class="pt-4 pb-4 service-client <%= (current_user.have_transaction_as_client?(transaction.service)) ? 'mark-name' : '' %>">
          <%= transaction.client.name %>
        </td>
        <td class="pt-4 pb-4 service-description"><%= transaction.service.description %></td>
        <td class="pt-4 pb-4 additional-information"><%= transaction.addition_information %></td>
      </tr>
    <% end %>
  </tbody>
</table>