<table id="transaction-list">
  <thead>
    <tr>
      <th>Estado del servicio</th>
      <th>Nombre de servicio</th>
      <th>Fecha y hora</th>
      <th>Propietario del servicio</th>
      <th>Descripción de servicio</th>
      <th>Información adicional</th>
    </tr>
  </thead>
  <tbody>
    <% transactions.each do |transaction| %>
      <tr id="service-<%= transaction.service.id %>-petition">
        <td class="transaction-status"><%= transaction.status %></td>
        <td class="service-name"><%= transaction.service.name %></td>
        <td class="date-and-duration"><%= "#{transaction.date_format} #{transaction.duration_range}" %></td>
        <td class="service-owner"><%= transaction.service.user.name %></td>
        <td class="service-description"><%= transaction.service.description %></td>
        <td class="additional-information"><%= transaction.addition_information %></td>
      </tr>
    <% end %>
  </tbody>
</table>