<% props = {
    isLogged: user_signed_in?,
    user_name: user_signed_in? ? current_user.name : "",
    user_id: user_signed_in? ? current_user.id : ""
  }.to_json
%>

<header class="fixed-top bg-white">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark left-content" id="navbar">
    <%= link_to root_path, class: 'navbar-brand' do %>
      <%= image_tag 'logo.png', height: '50px'%>
    <% end %>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to '¿Qué se puede ofrecer?', categories_path, class: 'nav-link'%>
      </li>
      <li class="nav-item">
        <%= link_to 'Servicios que se ofrecen', services_path, class: 'service_link nav-link' %>
      </li>
    </ul>
    <span id="service-searcher"></span>
    <span id="session_actions" data="<%= props %>"> </span>
  </nav>

</header>